.sidebar{
    width: 247px !important;
}
.footer{
    margin-top:50px;
}
#main{
    margin-left: 248px;
}

#footer {
    margin-left: 234px;
}
.form-group label,form button{
    font-size: 13px;
}
.form-group input{
    font-size: 11px;
}